[Desktop Entry]
Name=Telegraph Writer
Comment=Cliente de escritorio para Telegra.ph
Exec=/usr/bin/telegraph-writer
Icon=telegraph-writer
Type=Application
Categories=Office;TextEditor;Utility;
